terraform.tfvars
*/terraform.tfvars
terraform.tfstate
*/terraform.tfstate
terraform.tfstate.backup
*/terraform.tfstate.backup
.terraform
*/.terraform
mykey*
*/mykey*
private_ip.txt
*/private_ip.txt
.terraform.lock.hcl
*/.terraform.lock.hcl